*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 1.173rem;
    line-height: 1.173rem;
}
.h-back{
    display:block;
    color:#666;
    margin-left:0.32rem;
    width: 0.59rem;
    height: 1.173rem;
    text-align: center;
    /* line-height: 1.173rem; */
}
.iconzuojiantou-2{
    font-size: 0.59rem;
    display: inline-block;
}
.h-tit{
    font-size:0.48rem;
    color:#333;
    font-weight: 500;
}
.company{
    font-size: 0.43rem;
    color:#666;
    margin-right:0.32rem;
}
.register_wrap{
    padding:0.53rem 0.8rem 0.27rem 0.8rem;
}
.phone .icon{
    padding-top:0.75rem;
    margin-left:0.13rem;
    width: 0.59rem;
    height: 0.59em;
}
.phone{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom:.02rem solid #ececec;
    position: relative;
}
.phone .icon img{
    width:100%;
    margin-top:-0.1rem;
}
.phone .phone_code_new{
    margin-left: 0;
    padding-left: 0.72rem;
}
.phone .phone_code{
    padding:0.75rem 0 0.19rem 0;
    box-sizing: border-box;
}
.phone .phone_code_new #mobile{
    font-size:0.373rem;
    line-height: 0.59rem;
}
input{
    border:none;
    outline: 0;
    color:#333;
    padding-left:0.16rem;
    letter-spacing: 2px;
}
.del_btn{
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    margin-top:-0.193rem;
    right:0;
    bottom: 0.3rem;
    background-size: 100%;
    display: flex;
    border-radius: 50%;
    display: none;
    background: url(../images/close.91ce307578.png) center no-repeat;
}

.isRead{
    width:100%;
    margin-top:0.48rem;
}
.readed{
    width:100%;
    font-variant: middle;
    color:#666;
    position: relative;
    height: 1.413rem;
    /* line-height: 1.413rem; */
    font-size:0.32rem;
}
.check_change{
    left:0;
    padding:0 0.4rem;
}
.check_change>input{
    width: 0;
    height: 0;
    opacity: 0;
}
.readed span em{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
}
.readed a{
    color:#78bee9
}
.checkbox-treaty{
    display: block;
    background-image: url(../images/checkbox-gray.8224e27675.png);
    background-size: cover;
    position: absolute;
    top:0rem;
    left:0.02rem;
    width: 0.35rem;
    height: 0.35rem;
}
.get_code{
    height: 1.173rem;
    line-height: 1.173rem;
    margin-top:0.6rem;
    margin-bottom:0.4rem;
    width: 100%;
    border-radius: 0.32rem;
    font-size: 0.43rem;
    text-align: center;
    background: -webkit-linear-gradient(left,#FF94CB 0,#FF80AA 100%);
}
.get_code a{
    color:#fff;
}
.readed .checkbox-treaty-active{
    background: url(../images/checkbox.8280bdc382.png);
    background-size: 100%;
}
.cajas{
    color:#fff;
    text-align: center;
    font-size: 0.32rem;
    position: absolute;
    top:6rem;
    left:30%;
    width: 5rem;
    height:auto;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    display: none;
    line-height: 1.173rem;
}
